.container {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
  }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}

.nav {
    border-bottom: 1px solid #222;
    padding: 0 10px;
    display: block;
    width: 100%;
    background-color: #222;
    color: #FFF;
}

.nav ul, .footer div  {
    max-width: 50rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.nav ul li {
    display: inline-flex;
    padding: 20px 40px 20px 0;
}
.nav ul li a {
    color: #FFF !important;
}

.footer {
    padding: 40px 0;
    background-color: #222;
}
.footer div {
    color: #FFF;
}